APP_ENV=development
DATABASE_URL=

OPENAI_API_KEY=
OPENROUTER_API_KEY=
OPENROUTER_FALLBACK_API_KEY=
PEXELS_API_KEY=
GOOGLE_API_KEY=

CLOUDFLARE_R2_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_BROWSER_RENDERING_API_TOKEN=
